<svg class="figure figure-view" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 597 759" style="enable-background:new 0 0 597 759;" xml:space="preserve" width="100%" height="100%">
<style type="text/css">
	.st0{fill:#231F20;}
	.st1{fill:#FFFFFF;}
	.st2{fill:none;}
</style>
<image style="overflow:visible;" width="600" height="759" attr.xlink:href="//s3.us-east-2.amazonaws.com/oyome/{{ team }}_torso.png" transform="matrix(1 0 0 1 -2 0)"></image>
<image style="overflow:visible;" width="600" height="759" attr.xlink:href="//s3.us-east-2.amazonaws.com/oyome/skin_{{ skintone }}.png" transform="matrix(1 0 0 1 -2 0)"></image>
<image style="overflow:visible;" width="576" height="576" attr.xlink:href="//s3.us-east-2.amazonaws.com/oyome/{{ team }}{{ jerseyNumber }}.png" transform="matrix(0.2917 0 0 0.2917 255 309)"></image>
<image  width="576" height="576" attr.xlink:href="//s3.us-east-2.amazonaws.com/oyome/noses/nose_{{ nose }}.svg" transform="matrix(0.34 0 0 0.34 240 50)"></image>
<g *ngIf="noseAccessory != '000' ">
	<image  width="576" height="576" attr.xlink:href="//s3.us-east-2.amazonaws.com/oyome/noses/acc_{{ noseAccessory }}.svg" transform="matrix(0.34 0 0 0.34 240 50)"></image>
</g>
<g *ngIf="mouthAccessory != '000' ">
	<image  width="576" height="576" attr.xlink:href="//s3.us-east-2.amazonaws.com/oyome/mouths/acc_{{ mouthAccessory }}.svg" transform="matrix(0.34 0 0 0.34 240 50)"></image>
</g>
<g *ngIf="beard != '000' ">
	<image  width="576" height="576" attr.xlink:href="//s3.us-east-2.amazonaws.com/oyome/beards/beard_{{ beard }}_{{ beardColor }}.svg" transform="matrix(0.34 0 0 0.34 240 50)"></image>
</g>
<image  width="576" height="576" attr.xlink:href="//s3.us-east-2.amazonaws.com/oyome/eyes/eyes_{{ eyes }}.svg" transform="matrix(0.34 0 0 0.34 240 50)"></image>
<image  width="576" height="576" attr.xlink:href="//s3.us-east-2.amazonaws.com/oyome/eyebrows/eyebrows_{{ eyebrows }}_{{ eyebrowColor }}.svg" transform="matrix(0.34 0 0 0.34 240 50)"></image>
<g *ngIf="eyeAccessory != '000' ">
	<image  width="576" height="576" attr.xlink:href="//s3.us-east-2.amazonaws.com/oyome/eyes/acc_{{ eyeAccessory }}.svg" transform="matrix(0.34 0 0 0.34 240 50)"></image>
</g>
<image  width="576" height="576" attr.xlink:href="//s3.us-east-2.amazonaws.com/oyome/mouths/mouth_{{ mouth }}.svg" transform="matrix(0.34 0 0 0.34 240 50)"></image>


</svg>