
    <div class="container">
        <header>
            <div class="top-bar">
                <div class="top-bar-wrapper">
                    <span class="logo"></span>
                </div>
            </div>
        </header>
        <div class="content-wrapper">
            <!--Player content-->
            <!--The "app-figure" element is a way to encapsulate the gnarly SVG code. 
            This way all we have to do is pass it values :)-->
            <section class="figure">

                <div [class.hidden]="stepLevel !== 'figure' ">
                    <app-figure
                        skintone="{{product.skintone}}"
                        team="{{ product.team }}"
                        eyes="{{ product.face.eyes }}"
                        eyeAccessory="{{ product.face.eyeAccessory }}"
                        eyebrows="{{ product.face.eyebrows }}"
                        eyebrowColor="{{ product.face.eyebrowColor }}"
                        nose="{{ product.face.nose }}"
                        jerseyNumber="{{ product.number }}"
                        noseAccessory="{{ product.face.noseAccessory }}"
                        mouth="{{ product.face.mouth }}"
                        mouthAccessory="{{ product.face.mouthAccessory }}"
                        beard="{{ product.face.beard }}"
                        beardColor="{{ product.face.beardColor }}"></app-figure>
                </div>

                <div [class.hidden]="stepLevel !== 'features' ">
                    <app-figure-feature-view
                        skintone="{{product.skintone}}"
                        team="{{ product.team }}"
                        eyes="{{ product.face.eyes }}"
                        eyeAccessory="{{ product.face.eyeAccessory }}"
                        eyebrows="{{ product.face.eyebrows }}"
                        eyebrowColor="{{ product.face.eyebrowColor }}"
                        nose="{{ product.face.nose }}"
                        jerseyNumber="{{ product.number }}"
                        noseAccessory="{{ product.face.noseAccessory }}"
                        mouth="{{ product.face.mouth }}"
                        mouthAccessory="{{ product.face.mouthAccessory }}"
                        beard="{{ product.face.beard }}"
                        beardColor="{{ product.face.beardColor }}"></app-figure-feature-view>
                </div>
            </section>

        </div>
    
    
    <!-- SIDEBAR OPTIONS-->
    <section>
        <div class="side-option-bar">
            
            <div class="side-secondary-options">
                <button class="side-bar-item btn" (click)="toggleStepLevel(stepLevel)" >
                    <span *ngIf="stepLevel === 'figure'">+🔍</span>
                    <span *ngIf="stepLevel === 'features'">-🔍</span>
                </button>
            </div>

            <!--EYE ACCESSORY OPTIONS-->
            <div class="side-option-inner-scroll"
                [class.hidden]="activeStep !== 'eyes' ">
                    <button
                    class="side-bar-item btn btn-shadow"
                    *ngFor="let acc of eyeAccessoriesOpts"
                    (click)="updateFace('eyeAccessory',acc)"
                    [class.active]="product.face.eyeAccessory == acc "
                    [ngStyle]="{'background-image': 'url(assets/img/eyes/acc_' + acc + '.svg)' }">
                    </button>
            </div>

            <!--EYEBROW ACCESSORY OPTIONS-->
            <div class="side-option-inner-scroll"
                [class.hidden]="activeStep !== 'eyebrows' ">
                    <button
                    class="side-bar-item btn btn-shadow"
                    *ngFor="let color of hairColorOpts"
                    (click)="updateFace('eyebrowColor',color.name)"
                    [class.active]="product.face.eyebrowColor == color.name "
                    [ngStyle]="{'background': color.hex }"
                    >
                    </button>
            </div>

            <!-- NOSE ACCESSORY OPTIONS -->
            <div class="side-option-inner-scroll"
                [class.hidden]="activeStep !== 'noses' ">
                    <button
                    class="side-bar-item btn btn-shadow nose-opts"
                    *ngFor="let opts of noseAccessoryOpts"
                    (click)="updateFace('noseAccessory',opts)"
                    [class.active]="product.face.noseAccessory == opts "
                    [ngStyle]="{'background-image': 'url(assets/img/noses/acc_' + opts + '.svg)' }">
                    </button>
            </div>

            <!-- MOUTH ACCESSORY OPTIONS -->
            <div class="side-option-inner-scroll"
                [class.hidden]="activeStep !== 'mouths' ">
                    <button
                    class="side-bar-item btn btn-shadow mouth-opts"
                    *ngFor="let opts of mouthAccessoriesOpts"
                    (click)="updateFace('mouthAccessory',opts)"
                    [class.active]="product.face.mouthAccessory == opts "
                    [ngStyle]="{'background-image': 'url(assets/img/mouths/acc_' + opts + '.svg)' }">
                    </button>
            </div>

            <!-- BEARD COLORS OPTIONS -->
            <div class="side-option-inner-scroll"
                [class.hidden]="activeStep !== 'beards' ">
                    <button
                    class="side-bar-item btn btn-shadow"
                    *ngFor="let opts of hairColorOpts"
                    (click)="updateFace('beardColor',opts.name)"
                    [class.active]="product.face.beardColor == opts.name "
                    [ngStyle]="{'background': opts.hex }">
                    </button>
            </div>

        </div>
    </section>


    <!-- BOTTOM OPTION BAR -->
        <section>
            
            <!--SKINTONE OPTIONS-->
            <div
            class="bottom-option-bar"
            [style.justifyContent]="skintonePosition"
            [class.hidden]="activeStep !== 'skintone' ">
                <div
                class="bottom-option-bar-inner"
                [ngStyle]="{'min-width.px': skintoneContainer }">
                    <button
                    class="bottom-bar-item color btn btn-shadow"
                    *ngFor="let skintone of skintoneOpts"
                    [ngStyle]="{'background-color': skintone.hex }"
                    (click)="updateFigure('skintone',skintone.name)"
                    [class.active]="product.skintone == skintone.name "></button>
                </div> 
            </div>

    
            <!--TEAM OPTIONS-->
            <div
            class="bottom-option-bar"
            [class.hidden]="activeStep !== 'team' "
            [style.justifyContent]="teamsPosition">
                <div
                class="bottom-option-bar-inner"
                [ngStyle]="{'min-width.px': teamContainer }">
                    <button
                    class="bottom-bar-item logo btn btn-shadow"
                    *ngFor="let team of teamOpts"
                    (click)="updateFigure('team',team.name)"
                    [ngStyle]="{'background-image': 'url(assets/img/logos/' + team.name + '.png)' }"
                    [class.active]="product.team == team.name"
                    ></button>
                </div>
            </div>

            <!--EYE OPTIONS-->
            <div
            class="bottom-option-bar"
            [class.hidden]="activeStep !== 'eyes' "
            [style.justifyContent]="eyesPosition">
                <div
                class="bottom-option-bar-inner"
                [ngStyle]="{'min-width.px': eyesContainer }">
                    <button
                    class="bottom-bar-item eyes btn btn-shadow"
                    *ngFor="let eye of eyesOpts"
                    (click)="updateFace('eyes',eye)"
                    [ngStyle]="{'background-image': 'url(assets/img/eyes/eyes_' + eye + '.svg)' }"
                    [class.active]="product.face.eyes == eye"></button>              
                </div>
            </div>

            <!--EYEBROW OPTIONS-->
            <div
            class="bottom-option-bar"
            [class.hidden]="activeStep !== 'eyebrows' "
            [style.justifyContent]="eyebrowsPosition">
                <div 
                class="bottom-option-bar-inner"
                [ngStyle]="{'min-width.px': eyebrowContainer }">
                    <button
                    class="bottom-bar-item eyebrows btn btn-shadow"
                    *ngFor="let eyebrow of eyebrowOpts"
                    (click)="updateFace('eyebrows',eyebrow)"
                    [ngStyle]="{'background-image': 'url(assets/img/eyebrows/eyebrows_' + eyebrow + '_blk.svg)' }"
                    [class.active]="product.face.eyebrows == eyebrow"></button>              
                </div>
            </div>
            
            <!--NOSE OPTIONS-->
            <div
            class="bottom-option-bar"
            [class.hidden]="activeStep !== 'noses' "
            [style.justifyContent]="nosesPosition">
                <div
                class="bottom-option-bar-inner"
                [ngStyle]="{'min-width.px': noseContainer }">
                    <button
                    class="bottom-bar-item nose btn btn-shadow"
                    *ngFor="let nose of noseOpts"
                    (click)="updateFace('nose',nose)"
                    [ngStyle]="{'background-image': 'url(assets/img/noses/nose_' + nose + '.svg)' }"
                    [class.active]="product.face.nose == nose"></button>
                </div>
            </div>


            <!--MOUTH OPTIONS-->
            <div
            class="bottom-option-bar"
            [class.hidden]="activeStep !== 'mouths' "
            [style.justifyContent]="mouthsPosition">
                <div
                class="bottom-option-bar-inner"
                [ngStyle]="{'min-width.px': mouthContainer }">
                    <button
                    class="bottom-bar-item mouth btn btn-shadow"
                    *ngFor="let mouth of mouthOpts"
                    (click)="updateFace('mouth',mouth)"
                    [ngStyle]="{'background-image': 'url(assets/img/mouths/mouth_' + mouth + '.svg)' }"
                    [class.active]="product.face.mouth == mouth"></button>
                </div>            
            </div>
            <!--BEARD OPTIONS-->
            <div
            class="bottom-option-bar"
            [class.hidden]="activeStep !== 'beards' "
            [style.justifyContent]="beardsPosition">
                <div
                class="bottom-option-bar-inner"
                [ngStyle]="{'min-width.px': beardContainer }">
                    <button
                    class="bottom-bar-item beards btn btn-shadow"
                    *ngFor="let beard of beardOpts"
                    (click)="updateFace('beard',beard)"
                    [ngStyle]="{'background-image': 'url(assets/img/beards/beard_' + beard + '_blk.svg)' }"
                    [class.active]="product.face.beard == beard"></button>
                </div>
            </div>
        
        </section>

    <!-- BOTTOM NAVIGATION BAR -->
    <section>
        <div class="bottom-bar"
        [style.justifyContent]="stepsPosition">
            <div
            class="bottom-bar-inner"
            [ngStyle]="{
                'min-width.px': stepsContainer }">
                 <button
                 *ngFor="let step of steps"
                 class="bottom-bar-step btn"
                 (click)="changeStep(step.name)"
                 [class.active]="activeStep == step.name ">
                    <img src="//s3.us-east-2.amazonaws.com/oyome/{{step.name}}.svg" alt="">
                 </button>
            </div>
        </div>
    </section>
</div>

  
  
  
